<aside class="sidebar-container">
  <div class="sidebar-header">
    
  </div>

  <nav class="sidebar-nav">
    <a routerLink="/mainpage/dashboard" routerLinkActive="active" class="nav-link">
      <i class="icon">📊</i>
      <span class="link-text">Dashboard</span>
    </a>
    <a routerLink="/mainpage/customers" routerLinkActive="active" class="nav-link">
      <i class="icon">👥</i>
      <span class="link-text">Customers</span>
    </a>
    <a routerLink="/mainpage/accounts" routerLinkActive="active" class="nav-link">
      <i class="icon">💳</i>
      <span class="link-text">Accounts</span>
    </a>
    <a routerLink="/mainpage/transactions" routerLinkActive="active" class="nav-link">
      <i class="icon">💰</i>
      <span class="link-text">Transactions</span>
    </a>
    <div class="nav-divider"></div>
    <a routerLink="/mainpage/settings" routerLinkActive="active" class="nav-link">
      <i class="icon">⚙️</i>
      <span class="link-text">Settings</span>
    </a>
  </nav>

  <div class="sidebar-footer">
    <button class="logout-button">
      <i class="icon">🚪</i>
      <span class="link-text">Çıkış Yap</span>
    </button>
  </div>
</aside>