<div class="landing-page">
  <nav class="top-nav">
    <div class="logo">
      <img src="assets/bank-icon.png" alt=""> 
      <span>BankApp</span>
    </div>
    <div class="nav-links">
        <button class="btn-link">Giriş Yap</button>
        
        <button class="btn-ghost" (click)="goToRegister()">Kayıt Ol</button>
        
        <button class="btn-primary-custom" (click)="goToDashboard()">Hemen Başla</button>
    </div>
  </nav>

  <header class="hero">
    <h1>Müşteri Yönetiminde <br><span>Yeni Standart</span></h1>
    <p>BankApp ile bakiyeleri takip et, raporları dışarı aktar ve verilerini güvenle yönet.</p>
  </header>

  <section class="features-preview">
    <div class="preview-card">
      <div class="card-id">#01</div>
      <div class="card-info">
        <h3>Hızlı Veri Erişimi</h3>
        <p>Sistemde kayıtlı müşterilere anında ulaşın.</p>
      </div>
      <div class="card-value text-success">$100,000.00</div>
    </div>

    <div class="preview-card">
      <div class="card-id">#02</div>
      <div class="card-info">
        <h3>Excel Raporlama</h3>
        <p>Tüm listeyi saniyeler içinde export edin.</p>
      </div>
      <div class="card-value text-primary">Full Export</div>
    </div>
  </section>
</div>