.spinner-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(255, 255, 255, 0.85); /* Arkayı hafif beyazlatır */
  display: flex; flex-direction: column;
  justify-content: center; align-items: center;
  z-index: 9999;
}

.bankapp-loader {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #6366f1; /* Senin mor rengin */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

p {
  color: #6366f1;
  margin-top: 15px;
  font-weight: 600;
  font-family: sans-serif;
  letter-spacing: 0.5px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}