<div class="lang-dropdown">
    <button class="dropbtn">🌐</button>
    <div class="dropdown-content">
        <a (click)="changeLanguage('tr-TR')">🇹🇷 Türkçe</a>
        <a (click)="changeLanguage('en-US')">🇺🇸 English</a>
        <a (click)="changeLanguage('de-DE')">🇩🇪 Deutsch</a>
        <a (click)="changeLanguage('fr-FR')">🇫🇷 Français</a>
        <a (click)="changeLanguage('es-ES')">🇪🇸 Español</a>
        <a (click)="changeLanguage('ru-RU')">🇷🇺 Русский</a>
        <a (click)="changeLanguage('zh-CN')">🇨🇳 中文</a>
        <a (click)="changeLanguage('ja-JP')">🇯🇵 日本語</a>
        <a (click)="changeLanguage('ko-KR')">🇰🇷 한국어</a>
        <a (click)="changeLanguage('ar-SA')">🇸🇦 العربية</a>
        <a (click)="changeLanguage('ro-RO')">🇷🇴 Romana</a>
    </div>
</div>